<!--
 * @Descripttion: 
 * @version: 
 * @Author: jie.niu
 * @Date: 2020-06-09 14:07:35
 * @LastEditors: jie.niu
 * @LastEditTime: 2020-06-09 15:30:32
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .icon-part {
            background-color: white;
        }
        
        .nav-part {
            background-color: blue;
        }
    </style>
    <title><%= projectName %></title>
</head>

<body>
    <header class="container-fluid row">
        <div class="icon-part col-lg-2">icon</div>
        <nav class="nav-part col-lg-8">nav</nav>
        <div class="search-part col-lg-2">search</div>
    </header>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>